@font-face {
  font-family: "Kanit-Italic";
  src: url("../font/Kanit/Kanit-Italic.ttf");
}
@font-face {
  font-family: "Kanit-Regular";
  src: url("../font/Kanit/Kanit-Regular.ttf");
}
@font-face {
  font-family: "Kanit-Medium";
  src: url("../font/Kanit/Kanit-Medium.ttf");
}
@font-face {
  font-family: "Kanit-Light";
  src: url("../font/Kanit/Kanit-Light.ttf");
}
.header {
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
}
.main-page {
  width: 100%;
  height: 800px;
  background-image: url("../img/fondo_home_jugadores.webp");
  background-size: cover;
}

.players-text {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  padding-left: 100px;
  font-size: 37px;
  font-weight: bold;
  font-family: "Kanit-Italic", "Helvetica Neue", Arial, sans-serif;
}

.players {
  padding: 80px 110px;
}

.group-background {
  width: auto;
}

.group-container {
  margin-top: 15px;
  width: auto;
  height: 700px;
  background-image: url("../img/pelotita.jpg");
  background-size: cover;
}

.group-box {
  margin-top: 50px;
  margin: 30px;
  float: left;
  width: 250px;
  padding: 20px 20px;
  background-color: white;
  border: black 1px solid;
  border-radius: 15px;
}

.group-text {
  font-family: "Poppins 500", "Noto Sans Regular", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 17px;
  padding: 10px 10px;
  border-radius: 10px;
  border: solid;
  background-color: aliceblue;
  text-align: center;
}
.countdown-text {
  color: rgb(148, 175, 224);
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff,
    -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Kanit-Medium";
}
